body {
	padding-top: 20px;
	padding-bottom: 60px;
}

/* Custom container */
.container {
	margin: 0 auto;
	max-width: 1000px;
}

.container>hr {
	margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
	margin: 80px 0;
	text-align: center;
}

.jumbotron h1 {
	font-size: 100px;
	line-height: 1;
}

.jumbotron .lead {
	font-size: 24px;
	line-height: 1.25;
}

.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
	vertical-align: initial;
}

/* Supporting marketing content */
.marketing {
	margin: 60px 0;
}

.marketing p+h4 {
	margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin-top: 20px;
	margin-bottom: -90px;
	/* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.navbar-wrapper .navbar {
	
}

/* Remove border and change up box shadow for more contrast */
.navbar .navbar-inner {
	border: 0;
	-webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
	box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}

/* Downsize the brand/project name a bit */
.navbar .brand {
	padding: 14px 20px 16px;
	/* Increase vertical padding to match navbar links */
	font-size: 16px;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .5);
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav>li>a {
	padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .btn-navbar {
	margin-top: 10px;
}

.navbar .nav li p {
	display: inline;
	color: #000000;
	font-size: 15px;
}

#push,#footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media ( max-width : 767px) {
	#footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

html,body {
	height: 100%;
	/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

.none {
	display: none !important;
}

.gray {
	background-color: lightgray;
}

.centering {
	width: 50%;
	height: 50%;
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading {
	background: url("../img/ajax-loader.gif");
	width: 220px;
	height: 19px;
}

#contactsHeaderButton {
	margin-left: 7px;
}

#loadingModal {
	width: 250px;
	height: 59px;
	z-index: 9999;
}

#divLoadingIcon {
	padding-top: 18px;
}

.messageToUser {
	color: #ffffff;
	text-shadow: none;
}

.tdContactsCentered {
	vertical-align: middle;
}

.width15 {
	width: 15%;
}

.insertAndUpdateDialogs {
	width: 450px;
	height: 300px;
}

.displayInLine {
	display: inline;
}

.dialogErrorMessage {
	margin-left: 10px;
}

#deleteContactsModal {
	width: 500px;
	height: 220px;
	overflow: hidden;
}

#searchContactsModal {
	width: 500px;
	height: 180px;
	overflow: hidden;
}

#login {
	margin-bottom: 10px;
	margin-left: 100px;
	float: left;
	width: 280px
}

#newLogin {
	margin-bottom: 10px;
	margin-left: 100px;
	float: left;
	width: 280px
}

.chat-wrap {
	width: 100%;
}

.chat {
	border: 2px dotted #DDD;
	border-radius: 10px;
	height: 380px;
	list-style-type: none;
	margin: 15px auto;
	overflow-x: visible;
	overflow-y: auto;
	padding: 5px;
	min-width: 410px;
	max-width: 410px;
}

.chat-header {
	border: 2px dotted #DDD;
	border-radius: 10px;
	padding: 15px;
	min-width: 410px;
	max-width: 410px;
}

.chat-box-left,.chat-box-right {
	margin: 25px auto;
	display: inline-block;
}

.badge {
	background-color: #000
}

.chat-badge {
	position: absolute;
	left: 0;
	text-align: center;
	top: -9px;
	right: 0;
}

.chat-message {
	background-color: #1a75cf;
	border-radius: 15px;
	margin: 15px 0 15px 17px;
	padding: 10px 20px 10px 45px;
	position: relative;
	text-align: left;
}

.chat-message-user {
	background-color: #fdbb30;
	text-align: right;
	margin: 15px 20px 15px 0px;
	padding: 10px 45px 10px 15px;
}

.chat-message-user .chat-message-icon {
	right: -15px;
	left: auto;
}

.chat-message-user .chat-message-icon span {
	padding: 9px 11px 0px 0px;
}

.chat-message-user .chat-message-text {
	color: #666666;
}

.chat-message-icon {
	background-color: #6cabe7;
	border-radius: 100%;
	position: absolute;
	overflow: hidden;
	left: -15px;
	top: -5px;
	height: 50px;
	width: 50px;
}

.chat-message-icon span {
	font-size: 28px;
	color: #FFF;
	padding: 9px 0 0 11px;
}

.chat-message-text {
	color: #FFFFFF;
}

.login {
	width: 220px;
}

.formLogin {
	position: fixed;
	left: 50%;
	margin-top: -50px;
	margin-left: -100px;
}

#ng-dirty {
	margin: 0;
	font-size: 21px;
	padding: 14px 24px;
}

/*Loading*/
#loading {
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 1000;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
}

#loading-image {
	display: block;
	margin: 0 auto;
	position: absolute;
	left: calc(50% - 50px);
	top: calc(50% - 50px);
}

.btnRefresh {
	width: 10px;
	height: 5px;
	font-family: verdana;
	background-color: blue;
}

.navbar-toggle {
	margin-right: 25px;
}

@media ( min-width : 768px) {
	.navbar-nav.navbar-right:last-child {
		margin-right: 0px;
	}
}

.chat-logo {
	margin-bottom: 15px;
}